
<%= stylesheet_link_tag "college"%>
<% provide(:title, "College") %>
            <div class="top_panel_fixed_wrap"></div>

            <header>
	<!-- Main menu -->
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding: 0"><img src="images/istarlogo.png" id="logoimg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li  class="active"><a href="college.html">College <span class="sr-only">(current)</span></a></li>
        <li><a href="corporate.html">Corporate</a></li>
          <li><a href="government.html">Government</a></li>
            <li><a href="about_us.html">About</a></li>
              <li><a href="Careers.html">Careers</a></li>

              <li ><a href="Contact.html" style="border-right: none">Contact</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<!-- /Main menu -->
</header>
			<!-- Page title -->

<!-- Use for icons
<li class="active" id="ilabbg"><a data-toggle="tab" href="#ilabtab"><img src="images/ilab.png">&nbsp;&nbsp;&nbsp;<p class="hidden-sm hidden-xs" style="display: inline">iLAB</p></a></li>
 -->

<ul class="nav nav-tabs" id="product-nav">
    <li class="active" id="ilabbg"><a data-toggle="tab" href="#ilabtab"><p class="hidden-sm hidden-xs" style="display: inline">iLAB</p></a></li>
    <li id="protrackbg"><a data-toggle="tab" href="#protracktab"><p class="hidden-sm hidden-xs" style="display: inline">ProTRAK</p></a></li>
    <li id="careerbg"><a data-toggle="tab" href="#careertab"><p class="hidden-sm hidden-xs" style="display: inline">CareerPrep</p></a></li>
    <li id="certificatebg"><a data-toggle="tab" href="#certificatetab"><p class="hidden-sm hidden-xs" style="display: inline">Certificate Courses</p></a></li>
  </ul>



<div class="college">


<!-- <div class="navig">

  <ul class="nav nav-tabs nav-justified  navbar-collapse">
  <li role="presentation"><a href="#!" onclick="showilab()">iLab</a></li>
  <li role="presentation"><a href="#!" onclick="showprotrack()">Protrack</a></li>
  <li role="presentation"><a href="#!" onclick="showcareerprep()">Careerprep</a></li>
  <li role="presentation"><a href="#!" onclick="showcertificate()">certificate courses</a></li>
</ul>



</div> -->



<div class="container">





  <div class="tab-content">
    <div id="ilabtab" class="tab-pane fade in active">

<div class="bs-example-clip" id="ilab">

	 <!-- <button id="button" onclick="showilab()">ilab</button>
	      <button id="button" onclick="showprotrack()">Protrack</button>
	         <button id="button" onclick="showcareerprep()">Careerprep</button>
	            <button id="button" onclick="showcertificate()">certificatecourses</button> -->



    <div id="myCarousel0" class="carousel slide" data-interval="3000" data-ride="carousel1">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel0" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel0" data-slide-to="1"></li>
            <li data-target="#myCarousel0" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">








            <div class="active item" id="ilab1">





   <div class="graphic" id="ilabimg1">

   </div>



   <div class="details">
  <h1>iLAB SOLUTION</h1>
<p>
iLab is ISTAR's flagship college employability program. <br><br>It is a holistic solution that brings together expert industry faculty, an innovative activity based pedagogy, and a cutting edge technology platform to deliver a transformational learning experience. We help students build skills relevant to the most attractive career opportunities in the market.<br><br>

Students benefit from nationally recognized certification as well as comprehensive placement support.<br><br>

The result: a comprehensive solution for colleges to dramatically improve student placement outcomes!</p>
   </div>


            </div>


            <div class="item" id="ilab2">

           <!--   <h1>iLAB SOLUTION</h1> -->



   <div class="graphic" id="ilabimg2">

   </div>



   <div class="details" >
<h1>Benefits</h1>
<p>


  ILAB provides you with the skills you need through a unique activity based pedagogy. Students are taught by industry experts to train them on the skills they need for the job!<br><br>

  Students have access to interactive learning content on our revolutionary mobile app. <br><br>Access a nationwide pool of recruiters who can see your skills profile and link you to the best job opportunities!   </div>


            </div>
            <div class="item" id="ilab3">




   <div class="graphic" id="ilabimg3">

   </div>



   <div class="details" >
<h1>Industry Approved Certifications</h1>
<p>
  iLAB students receive six NSDC approved certificates for six high demand job roles!<br><br>

  Improve your students' employability with high demand skills and a differentiated profile in today's competitive job market!<br><br>


  Want to transform your student outcomes after graduation?<br><br>
  <button type="button" class="btn btn-default"  onClick="window.location.href='mailto:careers@istarindia.com'">Contact Us</button>



</p>
   </div>



            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel0" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel0" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>



    </div>



    <div id="protracktab" class="tab-pane fade">



<div class="bs-example-clip" id="protrack">

	 <!-- <button id="button" onclick="showilab()">ilab</button>
	      <button id="button" onclick="showprotrack()">Protrack</button>
	         <button id="button" onclick="showcareerprep()">Careerprep</button>
	            <button id="button" onclick="showcertificate()">certificatecourses</button> -->



    <div id="myCarousel1" class="carousel slide" data-interval="3000" data-ride="carousel1">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel1" data-slide-to="1"></li>
             <li data-target="#myCarousel1" data-slide-to="2"></li>



        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item" id="protrack1">

         <div class="graphic" id="protrakimg1">

   </div>



   <div class="details">
  <h1 style="color: #333">ProTRAK</h1>
<p style="color: #333">
	PROTRAK is an industry linked program run by iSTAR in colleges across India, where the regular university curriculum will be taught in collaboration with the industry, using high quality content that has been linked to the industry requirements.
<br><br> Regular university curriculum will be taught with an industry orientation by iSTAR faculty.<br><br>The PROTRAK curriculum brings to you the world's best pedagogic techniques, teaching you core theory concepts in a memorable, and application oriented manner!
 </p>
   </div>


            </div>


             <div class="item" id="protrack2">


                <div class="graphic" id="protrakimg2">

   </div>



   <div class="details">
  <h1 style="color: #333">ProTRAK</h1>
<p style="color: #333">
As a PROTRAK student, you will receive the benefit of a radically differentiated education.<br><br>All content will be provided to students on the PROTRACK LMS platform and can be accessed by students on their mobile phones.</p>
   </div>


            </div>



             <div class="item" id="protrack3">


                <div class="graphic" id="protrakimg3">

   </div>



   <div class="details">
  <h1 style="color: #333">Fun learning with better results!</h1>
<p style="color: #333">
  As a ProTRAK student, you receive extensive skills training. <br><br>

  Train for extensive skills for 6 high potential job roles. Apart from comprehensive soft skills and language training compete for the best jobs nationally! Access our wide pool of recruiters across India, for the best possible career outcomes!<br><br>

  Ready to get professional? Get on ProTRAK!</p>
   </div>


            </div>


        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel1" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel1" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

    </div>


    <div id="careertab" class="tab-pane fade">


<div class="bs-example-clip" id="careerprep" >

	 <!-- <button id="button" onclick="showilab()">ilab</button>
	      <button id="button" onclick="showprotrack()">Protrack</button>
	         <button id="button" onclick="showcareerprep()">Careerprep</button>
	            <button id="button" onclick="showcertificate()">certificatecourses</button> -->



    <div id="myCarousel2" class="carousel slide" data-interval="3000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel2" data-slide-to="1"></li>
            <li data-target="#myCarousel2" data-slide-to="2"></li>
            <!-- <li data-target="#myCarousel2" data-slide-to="2"></li>
               <li data-target="#myCarousel2" data-slide-to="3"></li> -->
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">


            <div class="active item" id="career1">


   <div class="graphic" id="careerimg1">

   </div>



   <div class="details">
  <h1 >Mobile Placements App</h1>
<p >
Get your students visible to India's top recruiters! Make your college accessible to recruiters across the country! Through a seamless mobile experience, showcase your students' unique skills<br> <br>

iSTAR's revolutionary mobile placements platform allows recruiters to reach students across India. Administer tests and conduct video-conferencing based interviews right of your app!<br><br>

Give your students the visibility they need to grab the best career opportunity!</p>
   </div>




</div>




            <div class="item" id="career2">



   <div class="graphic" id="careerimg2">

   </div>



   <div class="details">
  <h1>Comprehensive Placement Solutions</h1>
<p>
CareerPrep is a comprehensive placement preparation program that helps students cross the final hurdle of the companies' selection processes.<br><br>

CareerPrep includes competency benchmarking, aptitude and psychometric testing, career counselling. The core course provides in-depth training for all placement processes including aptitude testing, group discussions and interviews.<br><br>

CareerPrep also helps connect students to India's leading recruiters using its revolutionary mobile app that helps recruiters identify the right student for entry level opportunities across the country!</p>
   </div>





            </div>

            <div class="item" id="career3">



   <div class="graphic" id="careerimg3">

   </div>



   <div class="details">
  <h1>Comprehensive Aptitude Test-Prep</h1>
<p>
Aptitude testing is the hardest hurdle for students to cross. ISTAR's CareerPrep program exposes students to the various aspects of the typical company aptitude testing, including aspects related to verbal, quantiative and analytical sections that feature on most corporate tests. this aspect of CareerPrep is also useful to students preparing for post-graduate entrance examinations</p>
   </div>





            </div>
            <!-- <div class="item" id="career3">


            </div>
                  <div class="item" id="career4">


            </div> -->
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel2" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel2" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

    </div>








 <div id="certificatetab" class="tab-pane fade">


<div class="bs-example-clip" id="certificatecourses" >
<!--
	 <button id="button" onclick="showilab()">ilab</button>
	      <button id="button" onclick="showprotrack()">Protrack</button>
	         <button id="button" onclick="showcareerprep()">Careerprep</button>
	            <button id="button" onclick="showcertificate()">certificatecourses</button> -->




<div class="custom-containercard">


<div id="category-card" class="card-inner">


	<div class="row certificate-row" style="background: #acacac">


</div>

	<div class="row certificate-row">

		<a href="#!" onclick="show_product_card1()"><div class="certificate-col col-lg-3" style="background: #37c2d7">
			<p>Finance</p>
			<img src="images/certificate-icons/finance.png">

		</div></a>



		<a href="#!" onclick="show_product_card2()"><div class="certificate-col col-lg-3" style="background: #67b96a">

			<p>Marketing</p>
			<img src="images/certificate-icons/marketing.png">

		</div></a>


		<a href="#!" onclick="show_product_card3()"><div class="certificate-col col-lg-3" style="background: #ac6bad">

			<p>Accounting</p>
			<img src="images/certificate-icons/accounting.png">

		</div></a>


		<a href="#!" onclick="show_product_card4()"><div class="certificate-col col-lg-3" style="background: #f36f47">

			<p>Taxation</p>
			<img src="images/certificate-icons/taxation.png">

		</div></a>

</div>

<div class="row certificate-row">
	   <a href="#!" onclick="show_product_card5()"><div class="certificate-col col-lg-6" style="background: #67b96a;">

	   <p>Tourism & Hospitality</p>
	   <img src="images/certificate-icons/tourism.png">

	   </div></a>


		<a href="#!" onclick="show_product_card6()"><div class="certificate-col col-lg-6" style="background: #eb6292">

			<p>Media, Entertainment and Communication</p>
			<img src="images/certificate-icons/media.png">

		</div></a>


</div>

<div class="row certificate-row">
	<a href="#!" onclick="show_product_card7()"><div class="certificate-col col-lg-3" style="background: #31c1d7">

		<p>Soft Skills</p>
		<img src="images/certificate-icons/softskills.png">

	</div></a>

		<a href="#!" onclick="show_product_card8()"><div class="certificate-col col-lg-3" style="background: #f3971f">

			<p>Analytics</p>
			<img src="images/certificate-icons/analytics.png">

		</div></a>

		<a href="#!" onclick="show_product_card9()"><div class="certificate-col col-lg-3" style="background: #f36f47">

			<p>IT</p>
			<img src="images/certificate-icons/it.png">

		</div></a>

		<a href="#!" onclick="show_product_card10()"><div class="certificate-col col-lg-3" style="background: #67b96a">

			<p>MS Office</p>
			<img src="images/certificate-icons/msoffice.png">

		</div></a>

</div>

<div class="row certificate-row">
	   <a href="#!" onclick="show_product_card11()"><div class="certificate-col col-lg-4" style="background: #eb6292">

	   	<p>Placement Preparation</p>
	   	<img src="images/certificate-icons/placement.png">

	   </div></a>

		<a href="#!" onclick="show_product_card12()"><div class="certificate-col col-lg-4" style="background: #ac6bad">

			<p>Human Resource Management</p>
			<img src="images/certificate-icons/humanresource.png">

		</div></a>

		<a href="#!" onclick="show_product_card13()"><div class="certificate-col col-lg-4" style="background: #f3971f">
			<p>Sales</p>
			<img src="images/certificate-icons/sales.png">
		</div></a>

</div>




</div>








<div  id="product-card1" class="card-inner"  style="display: none">

	<div class="row certificate-row" style="background: #31c1d7">

<h1>Finance</h1>

</div>

	<div class="row certificate-row" >

     <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #31c1d7">


<div class="side"><p class="inner-text">Retail Banking</p></div>

<div class="side back" style="background: #31c1d7"><p class="inner-text">More Details</p></div>



           </div>
		</div>




		 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #31c1d7">


<div class="side"><p class="inner-text">Financial Markets</p></div>

<div class="side back" style="background: #31c1d7"><p class="inner-text">More Details</p></div>



           </div>
		</div>


	 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #31c1d7">


<div class="side"><p class="inner-text">Financial Modelling</p></div>

<div class="side back" style="background: #31c1d7"><p class="inner-text">More Details</p></div>



           </div>
		</div>

</div>

<div class="row certificate-row">


		 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #31c1d7">


<div class="side"><p class="inner-text">Equity Research</p></div>

<div class="side back" style="background: #31c1d7"><p class="inner-text">More Details</p></div>



           </div>
		</div>



		 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #31c1d7">


<div class="side"><p class="inner-text">Risk Management</p></div>

<div class="side back" style="background: #31c1d7"><p class="inner-text">More Details</p></div>



           </div>
		</div>


		 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #31c1d7">


<div class="side"><p class="inner-text">Mutual Funds</p></div>

<div class="side back" style="background: #31c1d7"><p class="inner-text">More Details</p></div>



           </div>
		</div>



</div>
<div class="row certificate-row">

  		<div class="certificate-col col-md-4" style="background: #31c1d7"></div>
      		<div class="certificate-col col-md-4" style="background: #31c1d7"></div>
          <div class="certificate-col col-md-4" style="background: #31c1d7" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>



</div>








<div  id="product-card2" class="card-inner"  style="display: none">

	<div class="row certificate-row" style="background: #67b96a">
<h1>Marketing</h1>

</div>

	<div class="row certificate-row">

		 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #67b96a">


<div class="side"><p class="inner-text">Advertising & Market Research</p></div>

<div class="side back" style="background: #67b96a"><p class="inner-text">More Details</p></div>



           </div>
		</div>




		<div class="certificate-col col-md-4" style="background: #67b96a"></div>
	<div class="certificate-col col-md-4" style="background: #67b96a" onclick="show_category_card()"><p class="inner-text">Back</p></div>


</div>




</div>







<div id="product-card3" class="card-inner"  style="display: none">

	<div class="row certificate-row" style="background: #ac6bad">
<h1>Accounting</h1>

</div>

	<div class="row certificate-row">

			 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #AC6BAD">


<div class="side"><p class="inner-text">Tally Level 1</p></div>

<div class="side back" style="background: #AC6BAD"><p class="inner-text">More Details</p></div>



           </div>
		</div>


		 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #AC6BAD">


<div class="side"><p class="inner-text">Tally Level 2</p></div>

<div class="side back" style="background: #AC6BAD"><p class="inner-text">More Details</p></div>



           </div>
		</div>


	 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #AC6BAD">


<div class="side"><p class="inner-text">Practical Accounting</p></div>

<div class="side back" style="background: #AC6BAD"><p class="inner-text">More Details</p></div>



           </div>
		</div>




</div>
<div class="row certificate-row">

  		<div class="certificate-col col-md-4" style="background: #AC6BAD"></div>
      		<div class="certificate-col col-md-4" style="background: #AC6BAD"></div>
          <div class="certificate-col col-md-4" style="background: #AC6BAD" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>



</div>



<div id="product-card4" class="card-inner"  style="display: none" >


	<div class="row certificate-row" style="background: #f36f47">
<h1>Taxation</h1>

</div>

	<div class="row certificate-row">

		 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f36f47">


<div class="side"><p class="inner-text">Taxation</p></div>

<div class="side back" style="background: #f36f47"><p class="inner-text">More Details</p></div>



           </div>
		</div>


		 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f36f47">


<div class="side"><p class="inner-text">Income Tax</p></div>

<div class="side back" style="background: #f36f47"><p class="inner-text">More Details</p></div>



           </div>
		</div>



		  <div class="certificate-col col-md-4" style="background: #f36f47" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>




</div>







<div id="product-card5" class="card-inner" style="display: none">


	<div class="row certificate-row" style="background: #67b96a">
<h1>Tourism & Hospitality</h1>

</div>

	<div class="row certificate-row">

			 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #67b96a">


<div class="side"><p class="inner-text">Hospitality Services</p></div>

<div class="side back" style="background: #67b96a"><p class="inner-text">More Details</p></div>



           </div>
		</div>


		<div class="certificate-col col-md-4" style="background: #67b96a"><p class="inner-text"></p></div>
    <div class="certificate-col col-md-4" style="background: #67b96a" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>






</div>


<div id="product-card6" class="card-inner" style="display: none">


	<div class="row certificate-row" style="background: #eb6292">
<h1>Media Entertainment & Education</h1>

</div>

	<div class="row certificate-row">

			 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #eb6292">


<div class="side"><p class="inner-text">News & Feature Writing</p></div>

<div class="side back" style="background: #eb6292"><p class="inner-text">More Details</p></div>



           </div>
		</div>


		 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #eb6292">


<div class="side"><p class="inner-text">Technical Writing</p></div>

<div class="side back" style="background: #eb6292"><p class="inner-text">More Details</p></div>



           </div>
		</div>


		 <div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #eb6292">


<div class="side"><p class="inner-text">Advertising</p></div>

<div class="side back" style="background: #eb6292"><p class="inner-text">More Details</p></div>



           </div>
		</div>




</div>


<div class="row certificate-row">

  		<div class="certificate-col col-md-4" style="background: #eb6292"></div>
      		<div class="certificate-col col-md-4" style="background: #eb6292"></div>
          <div class="certificate-col col-md-4" style="background: #eb6292" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>



</div>

<div id="product-card7" class="card-inner" style="display: none">


	<div class="row certificate-row" style="background: #31c1d7">
<h1>Soft Skills</h1>

</div>

	<div class="row certificate-row">




<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #31c1d7">


<div class="side"><p class="inner-text">English<br>------------<br>Basic<br>Intermediate<br>Advanced</p></div>

<div class="side back" style="background: #31c1d7"><p class="inner-text">More Details</p></div>



           </div>
		</div>





		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #31c1d7">


<div class="side"><p class="inner-text">Oral Communication</p></div>

<div class="side back" style="background: #31c1d7"><p class="inner-text">More Details</p></div>



           </div>
		</div>



		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #31c1d7">


<div class="side"><p class="inner-text">Professional Writing</p></div>

<div class="side back" style="background: #31c1d7"><p class="inner-text">More Details</p></div>



           </div>
		</div>


</div>

<div class="row certificate-row">


		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #31c1d7">


<div class="side"><p class="inner-text">Life Skills</p></div>

<div class="side back" style="background: #31c1d7"><p class="inner-text">More Details</p></div>



           </div>
		</div>



		<div class="certificate-col col-md-4" style="background: #31c1d7"><p class="inner-text"></p></div>
    <div class="certificate-col col-md-4" style="background: #31c1d7" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>




</div>

<div id="product-card8" class="card-inner" style="display: none">


	<div class="row certificate-row" style="background: #f3971f">
<h1>Analytics</h1>

</div>

	<div class="row certificate-row">

			<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f3971f">


<div class="side"><p class="inner-text">Business Intelligence</p></div>

<div class="side back" style="background: #f3971f"><p class="inner-text">More Details</p></div>



           </div>
		</div>


		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f3971f">


<div class="side"><p class="inner-text">Web Technologies</p></div>

<div class="side back" style="background: #f3971f"><p class="inner-text">More Details</p></div>



           </div>
		</div>



		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f3971f">


<div class="side"><p class="inner-text">R Programming</p></div>

<div class="side back" style="background: #f3971f"><p class="inner-text">More Details</p></div>



           </div>
		</div>



</div>

<div class="row certificate-row">


		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f3971f">


<div class="side"><p class="inner-text">SPSS</p></div>

<div class="side back" style="background: #f3971f"><p class="inner-text">More Details</p></div>



           </div>
		</div>



		<div class="certificate-col col-md-4" style="background: #f3971f"><p class="inner-text"></p></div>
    <div class="certificate-col col-md-4" style="background: #f3971f" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>




</div>

<div id="product-card9" class="card-inner" style="display: none">


	<div class="row certificate-row" style="background: #f36f47">
<h1>IT</h1>

</div>

	<div class="row certificate-row">

			<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f36f47">


<div class="side"><p class="inner-text">Software Development</p></div>

<div class="side back" style="background: #f36f47"><p class="inner-text">More Details</p></div>



           </div>
		</div>


		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f36f47">


<div class="side"><p class="inner-text">Web Development</p></div>

<div class="side back" style="background: #f36f47"><p class="inner-text">More Details</p></div>



           </div>
		</div>


    <div class="certificate-col col-md-4" style="background: #f36f47" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>






</div>

<div id="product-card10" class="card-inner" style="display: none">


	<div class="row certificate-row" style="background: #67b96a">
<h1>MS Office</h1>

</div>

	<div class="row certificate-row">

			<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #67b96a">


<div class="side"><p class="inner-text">MS Excel</p></div>

<div class="side back" style="background: #67b96a"><p class="inner-text">More Details</p></div>



           </div>
		</div>



		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #67b96a">


<div class="side"><p class="inner-text">MS Powerpoint</p></div>

<div class="side back" style="background: #67b96a"><p class="inner-text">More Details</p></div>



           </div>
		</div>


		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #67b96a">


<div class="side"><p class="inner-text">MS Word</p></div>

<div class="side back" style="background: #67b96a"><p class="inner-text">More Details</p></div>



           </div>
		</div>




</div>

<div class="row certificate-row">

  		<div class="certificate-col col-md-4" style="background: #67b96a"></div>
      		<div class="certificate-col col-md-4" style="background: #67b96a"></div>
          <div class="certificate-col col-md-4" style="background: #67b96a" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>



</div>

<div id="product-card11" class="card-inner" style="display: none">


	<div class="row certificate-row" style="background: #eb6292">
<h1>Placement Preparations</h1>

</div>

	<div class="row certificate-row">

			<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #eb6292">


<div class="side"><p class="inner-text">Business Math</p></div>

<div class="side back" style="background: #eb6292"><p class="inner-text">More Details</p></div>



           </div>
		</div>



		<div class="certificate-col col-md-4" style="background: #eb6292"><p class="inner-text"></p></div>
    <div class="certificate-col col-md-4" style="background: #eb6292" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>






</div>

<div id="product-card12" class="card-inner" style="display: none">


	<div class="row certificate-row" style="background: #ac6bad">
<h1>Human Resource Management</h1>

</div>

	<div class="row certificate-row">

			<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #ac6bad">


<div class="side"><p class="inner-text">Human Resources(Recruitment)</p></div>

<div class="side back" style="background: #ac6bad"><p class="inner-text">More Details</p></div>



           </div>
		</div>



		<div class="certificate-col col-md-4" style="background: #ac6bad"><p class="inner-text"></p></div>
    <div class="certificate-col col-md-4" style="background: #ac6bad" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>






</div>

<div id="product-card13" class="card-inner" style="display: none">


	<div class="row certificate-row" style="background: #f3971f">
<h1>Sales</h1>

</div>

	<div class="row certificate-row">

			<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f3971f">


<div class="side"><p class="inner-text">Customer Service</p></div>

<div class="side back" style="background: #f3971f"><p class="inner-text">More Details</p></div>



           </div>
		</div>

		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f3971f">


<div class="side"><p class="inner-text">Sales Management</p></div>

<div class="side back" style="background: #f3971f"><p class="inner-text">More Details</p></div>



           </div>
		</div>


		<div class="card-container certificate-col col-md-4">

		<div class=" card" style="background: #f3971f">


<div class="side"><p class="inner-text">Media Account Management</p></div>

<div class="side back" style="background: #f3971f"><p class="inner-text">More Details</p></div>



           </div>
		</div>



</div>


<div class="row certificate-row">

  		<div class="certificate-col col-md-4" style="background: #f3971f"></div>
      		<div class="certificate-col col-md-4" style="background: #f39717"></div>
          <div class="certificate-col col-md-4" style="background: #f3971f" onclick="show_category_card()"><p class="inner-text">Back</p></div>
</div>



</div>



</div>



</div>

</div>


    </div>





  </div>
</div>























<div class="corporate" id="corporate" style="display: none">


<!-- <div class="navig">

<ul class="nav nav-tabs nav-justified">
  <li role="presentation"><a href="#!;" onclick="showtalentify();">talentify</a></li>
  <li role="presentation"><a href="#!" onclick="showworkshop(); ">workshop</a></li>

</ul>

</div> -->



<div class="container">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#talentifytab">Talentify</a></li>
    <li><a data-toggle="tab" href="#workshoptab">workshop</a></li>

  </ul>

  <div class="tab-content">
    <div id="talentifytab" class="tab-pane fade in active">



<div class="bs-example" id="talentify">
	<!-- <button id="button" onclick="showtalentify()">talentify</button>
	      <button id="button" onclick="showworkshop()">workshop</button> -->




    <div id="myCarousel4" class="carousel slide" data-interval="3000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel4" data-slide-to="1"></li>
            <li data-target="#myCarousel4" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item" id="talentify1">



            </div>
            <div class="item" id="talentify2">


            </div>
            <div class="item" id="talentify3">



            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel4" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel4" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>




    </div>




    <div id="workshoptab" class="tab-pane fade">





<div class="bs-example" id="workshop" >
	<!-- <button id="button" onclick="showtalentify()">talentify</button>
	      <button id="button" onclick="showworkshop()">workshop</button> -->



    <div id="myCarousel5" class="carousel slide" data-interval="3000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel5" data-slide-to="1"></li>
            <li data-target="#myCarousel5" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item" id="workshop1">




            </div>
            <div class="item" id="workshop2">



            </div>
            <div class="item" id="workshop3">



            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel5" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel5" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>




    </div>


  </div>
</div>


</div>





<div class = "govt" id="govern" style="display: none">


<div class="bs-example">
    <div id="myCarousel6" class="carousel slide" data-interval="3000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel6" data-slide-to="0" class="active"></li>
            <!-- <li data-target="#myCarousel6" data-slide-to="1"></li>
            <li data-target="#myCarousel6" data-slide-to="2"></li> -->
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item" id="govt">



            </div>

        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel6" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel6" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>



</div>






			<!-- /Content -->
			<!-- Contacts Footer  -->

<!-- /Testimonials footer -->
<!-- Contacts Footer -->

<!-- /Contacts Footer -->
<!-- Copyright -->
<div class="copyright_wrap">
	<div class="content_wrap">
		<p>
			© 2016 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>
		</p>
	</div>
</div>
			<!-- /Copyright -->
		</div>
	</div>
	<!-- /Body -->

	<a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

	<div class="custom_html_section"></div>








<script type="text/javascript">

var category_card = document.getElementById('category-card');
var product_card1 = document.getElementById('product-card1');
var product_card2 = document.getElementById('product-card2');
var product_card3 = document.getElementById('product-card3');
var product_card4 = document.getElementById('product-card4');
var product_card5 = document.getElementById('product-card5');
var product_card6 = document.getElementById('product-card6');
var product_card7 = document.getElementById('product-card7');
var product_card8 = document.getElementById('product-card8');
var product_card9 = document.getElementById('product-card9');
var product_card10 = document.getElementById('product-card10');
var product_card11 = document.getElementById('product-card11');
var product_card12 = document.getElementById('product-card12');
var product_card13 = document.getElementById('product-card13');


function hide_othercards(){

 if(category_card.style.display != 'none')
     category_card.style.display = 'none';

if(product_card1.style.display != 'none')
     product_card1.style.display = 'none';

if(product_card2.style.display != 'none')
     product_card2.style.display = 'none';

if(product_card3.style.display != 'none')
     product_card3.style.display = 'none';

if(product_card4.style.display != 'none')
     product_card4.style.display = 'none';

if(product_card5.style.display != 'none')
     product_card5.style.display = 'none';


if(product_card6.style.display != 'none')
     product_card6.style.display = 'none';


if(product_card7.style.display != 'none')
     product_card7.style.display = 'none';


if(product_card8.style.display != 'none')
     product_card8.style.display = 'none';

if(product_card9.style.display != 'none')
     product_card9.style.display = 'none';

if(product_card10.style.display != 'none')
     product_card10.style.display = 'none';

if(product_card11.style.display != 'none')
     product_card11.style.display = 'none';

if(product_card12.style.display != 'none')
     product_card12.style.display = 'none';

if(product_card13.style.display != 'none')
     product_card13.style.display = 'none';

return this;
}

function show_category_card(){

 hide_othercards();

    $(category_card).fadeIn();


}




function show_product_card1(){

 hide_othercards();

$(product_card1).fadeIn();


}

function show_product_card2(){


   hide_othercards();

$(product_card2).fadeIn();


}
function show_product_card3(){


   hide_othercards();

$(product_card3).fadeIn();


}
function show_product_card4(){

 hide_othercards();
$(product_card4).fadeIn();


}
function show_product_card5(){


 hide_othercards();

$(product_card5).fadeIn();


}

function show_product_card6(){


 hide_othercards();

$(product_card6).fadeIn();


}
function show_product_card7(){


 hide_othercards();

$(product_card7).fadeIn();


}
function show_product_card8(){


 hide_othercards();

$(product_card8).fadeIn();


}
function show_product_card9(){


 hide_othercards();

$(product_card9).fadeIn();


}
function show_product_card10(){


 hide_othercards();

$(product_card10).fadeIn();


}
function show_product_card11(){


 hide_othercards();

$(product_card11).fadeIn();


}
function show_product_card12(){


 hide_othercards();

$(product_card12).fadeIn();


}
function show_product_card13(){


 hide_othercards();

$(product_card13).fadeIn();


}



$( document ).ready(function() {
    console.log( "ready!" );
$(document).keyup(function(e) {
    // enter
  if (e.which == 27) $('.cancel').click();
  show_category_card();   // esc
});





});






</script>
