
<%= stylesheet_link_tag "contact"%>
<% provide(:title, "Contact") %>
<div class="top_panel_fixed_wrap"></div>

            <header>
	<!-- Main menu -->
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding: 0"><img src="images/istarlogo.png" id="logoimg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="college.html">College <span class="sr-only">(current)</span></a></li>
        <li><a href="corporate.html">Corporate</a></li>
          <li><a href="government.html">Government</a></li>
            <li><a href="about_us.html">About</a></li>
              <li><a href="Careers.html">Careers</a></li>

              <li  class="active"><a href="Contact.html" style="border-right: none">Contact</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<!-- /Main menu -->
</header>

			<!-- Page title -->
            <div class="page_top_wrap page_top_title page_top_breadcrumbs sc_pt_st1">
                <div class="content_wrap">

                    <h1 class="page_title">Contact Us</h1>
                </div>
            </div>
			<!-- /Page title -->
			<!-- Content without sidebar -->
            <div class="page_content_wrap">
                <div class="content">

<div class="footer light">
					<div class="container">
						<div class="row">
							<div class="col-sm-4">
								<div class="footer-content">
									<!--
									<div class="logo-footer"><img id="logo-footer" src="images/logo_red_footer.png" alt=""></div>
									<p>Veritatis officiis ullam libero quam aliquam, tenetur dolor incidunt praesentium dolorum laborum tempora suscipit quo sapiente?</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. possimus laborum. Accusantium, itaque.</p>
									-->
									<div class="row">
										<div class="col-md-6">
											<ul class="list-icons">
													<li><i class="fa fa-map-marker pr-10"></i> 1st Floor, "Akshaya", 63/2, 18th Cross, Malleswaram, Bangalore, Karnataka 560055</li>
												<li><i class="fa fa-phone pr-10"></i> +080 4128 1021</li>
												<li><i class="fa fa-envelope-o pr-10"></i> contact@istarindia.com</li>
											</ul>
										</div>

									</div>
									<div class="row">
<div class="col-md-6">
											<ul class="social-links circle">
												<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/istar-skill-development-pvt-ltd"><i class="fa fa-linkedin"></i></a></li>
												<li class="twitter"><a target="_blank" href="http://www.twitter.com/istarindia"><i class="fa fa-twitter"></i></a></li>
												<li class="facebook"><a target="_blank" href="http://www.facebook.com/istarindia"><i class="fa fa-facebook"></i></a></li>


											</ul>
										</div>

									</div>
									<!--<a href="page-about.html" class="link"><span>Read More</span></a>-->
								</div>
							</div>
							<div class="col-sm-8">
								<div class="footer-content">
									<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3887.4261398660983!2d77.568778!3d13.008512999999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x062a1f18425b3dbd!2sISTAR+Skill+Development+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1432204252813" width="100%" height="300" frameborder="0" style="border:0"></iframe>

								</div>
							</div>
						</div>
					</div>
				</div>



                </div>
            </div>






<div class="copyright_wrap">
	<div class="content_wrap">
		<p>
			© 2016 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>
		</p>
	</div>
</div>
            <!-- /Contacts Footer  -->
			<!-- Copyright -->

			<!-- /Copyright -->
        </div>
    </div>
    <!-- /Body -->
    <a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

    <div class="custom_html_section"></div>
