<% provide(:title, "Government") %>
<%= stylesheet_link_tag "government"%>
            <div class="top_panel_fixed_wrap"></div>

            <header>
	<!-- Main menu -->
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding: 0"><img src="images/istarlogo.png" id="logoimg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="college">College <span class="sr-only">(current)</span></a></li>
        <li><a href="corporate">Corporate</a></li>
          <li  class="active"><a href="government">Government</a></li>
            <li><a href="about_us">About</a></li>
              <li><a href="Careers">Careers</a></li>

              <li ><a href="Contact" style="border-right: none">Contact</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<!-- /Main menu -->
</header>
			<!-- Page title -->





<ul class="nav nav-tabs" id="product-nav">
    <li class="active" id="ilabbg"><a data-toggle="tab" href="#ilabtab"><p  style="display: inline">DDU-GKY</p></a></li>
    <li id="protrackbg"><a data-toggle="tab" href="#protracktab"><p  style="display: inline">NULM</p></a></li>
    <li id="careerbg"><a data-toggle="tab" href="#careertab"><p  style="display: inline">PMKVY</p></a></li>
    <li id="asapbg"><a data-toggle="tab" href="#certificatetab"><p  style="display: inline">ASAP</p></a></li>
    <li id="statebg"><a data-toggle="tab" href="#statetab"><p class="hidden-lg hidden-md" style="display: inline">SSM</p><p class="hidden-sm hidden-xs" style="display: inline">State Skill Mission</p></a></li>
  </ul>


<div class="college">


<!-- <div class="navig">

  <ul class="nav nav-tabs nav-justified  navbar-collapse">
  <li role="presentation"><a href="#!" onclick="showilab()">iLab</a></li>
  <li role="presentation"><a href="#!" onclick="showprotrack()">Protrack</a></li>
  <li role="presentation"><a href="#!" onclick="showcareerprep()">Careerprep</a></li>
  <li role="presentation"><a href="#!" onclick="showcertificate()">certificate courses</a></li>
</ul>



</div> -->



<div class="container">





  <div class="tab-content">
    <div id="ilabtab" class="tab-pane fade in active">

<div class="bs-example-clip" id="ilab">

	 <!-- <button id="button" onclick="showilab()">ilab</button>
	      <button id="button" onclick="showprotrack()">Protrack</button>
	         <button id="button" onclick="showcareerprep()">Careerprep</button>
	            <button id="button" onclick="showcertificate()">certificatecourses</button> -->



    <div id="myCarousel0" class="carousel slide" data-interval="3000" data-ride="carousel1">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel0" data-slide-to="0" class="active"></li>

        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">








            <div class="active item" id="ilab1">





   <div class="graphic" id="ilabimg1">

   </div>



   <div class="details">
  <h1>DDU</h1>
<p>The DDU - GKY is the Government of India's flagship rural development scheme with a heavy emphasis on rural livelihood generation through skills training.<br><br>

iSTAR operates skill development centers in various states across India under the program. We aim to improve access for students at the bottom of the pyramid and bridge the opportunity divide for meritorious students in rural areas.</p>
   </div>


            </div>





        </div>
        <!-- Carousel controls -->

    </div>
</div>



    </div>



    <div id="protracktab" class="tab-pane fade">



<div class="bs-example-clip" id="protrack">

	 <!-- <button id="button" onclick="showilab()">ilab</button>
	      <button id="button" onclick="showprotrack()">Protrack</button>
	         <button id="button" onclick="showcareerprep()">Careerprep</button>
	            <button id="button" onclick="showcertificate()">certificatecourses</button> -->



    <div id="myCarousel1" class="carousel slide" data-interval="3000" data-ride="carousel1">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>




        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item" id="protrack1">

         <div class="graphic" id="protrakimg1">

   </div>



   <div class="details">
  <h1 style="color: #333">NULM</h1>
<p style="color: #333">
The National Urban Livelihood Mission is the umbrella scheme for creating urban livelihoods for eligible beneficiaries.<br><br>

iSTAR operates skill development centers in various cities across India under the program with a view to improving access for students at the bottom of the pyramid  and bridging the opportunity divide for meritorious students in poor urban communities.</p>
   </div>


            </div>









        </div>


    </div>
</div>

    </div>


    <div id="careertab" class="tab-pane fade">


<div class="bs-example-clip" id="careerprep" >

	 <!-- <button id="button" onclick="showilab()">ilab</button>
	      <button id="button" onclick="showprotrack()">Protrack</button>
	         <button id="button" onclick="showcareerprep()">Careerprep</button>
	            <button id="button" onclick="showcertificate()">certificatecourses</button> -->



    <div id="myCarousel2" class="carousel slide" data-interval="3000" data-ride="carousel">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>

            <!-- <li data-target="#myCarousel2" data-slide-to="2"></li>
               <li data-target="#myCarousel2" data-slide-to="3"></li> -->
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">


            <div class="active item" id="career1">


   <div class="graphic" id="careerimg1">

   </div>



   <div class="details">
  <h1>PMKVY</h1>
<p>The Pradhan Mantri Kaushal Vikas Yojana is a pioneering attempt to catalyze the skill development ecosystem in India by incentivizing students to acquire skills for better career outcomes. iSTAR facilitates PMKVY through its network of partner training centers across the country.</p>
   </div>




</div>







            <!-- <div class="item" id="career3">


            </div>
                  <div class="item" id="career4">


            </div> -->
        </div>
        <!-- Carousel controls -->

    </div>
</div>

    </div>








 <div id="certificatetab" class="tab-pane fade">


<div class="bs-example-clip" id="certificatecourses" >
<!--
	 <button id="button" onclick="showilab()">ilab</button>
	      <button id="button" onclick="showprotrack()">Protrack</button>
	         <button id="button" onclick="showcareerprep()">Careerprep</button>
	            <button id="button" onclick="showcertificate()">certificatecourses</button> -->


    <div id="myCarousel1" class="carousel slide" data-interval="3000" data-ride="carousel1">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>




        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item" id="asap">

         <div class="graphic" id="certificateimg1">

   </div>



   <div class="details">
  <h1 style="color: #333">ASAP</h1>
<p style="color: #333">Additional Skill Acquisition Program (ASAP) is a Govt. of Kerala initiative to improve the employability of college and school students. <br><br>

iSTAR has delivered training across all the districts of Kerala to over 5000 students under the program.</p>
   </div>


            </div>









        </div>
        <!-- Carousel controls -->

    </div>










</div>






</div>






<div id="statetab" class="tab-pane fade">


<div class="bs-example-clip" id="statecourses">
<!--
	 <button id="button" onclick="showilab()">ilab</button>
	      <button id="button" onclick="showprotrack()">Protrack</button>
	         <button id="button" onclick="showcareerprep()">Careerprep</button>
	            <button id="button" onclick="showcertificate()">certificatecourses</button> -->

    <div id="myCarousel1" class="carousel slide" data-interval="3000" data-ride="carousel1">
    	<!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>

        </ol>

        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item" id="state1">

         <div class="graphic" id="stateimg1">

   </div>



   <div class="details">
  <h1>State Skill Missions</h1>
<p>iSTAR works with State Skill Missions across India to implement skilling initiatives to improve employability outcomes.
</p>
   </div>


            </div>









        </div>
        <!-- Carousel controls -->

    </div>


</div>

</div>


</div>


    </div>

  </div>

		<!-- /Content -->
			<!-- Contacts Footer  -->

<!-- /Testimonials footer -->
<!-- Contacts Footer -->

<!-- /Contacts Footer -->
<!-- Copyright -->
<div class="copyright_wrap">
	<div class="content_wrap">
		<p>
			© 2016 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>
		</p>
	</div>
</div>
			<!-- /Copyright -->
		</div>
	</div>
	<!-- /Body -->

	<a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

	<div class="custom_html_section"></div>
