<% provide(:title, "Pankaj") %>
<%= stylesheet_link_tag "about-ext"%>



            <header>
	<!-- Main menu -->
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding: 0"><img src="images/istarlogo.png" id="logoimg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="college">College <span class="sr-only">(current)</span></a></li>
        <li><a href="corporate">Corporate</a></li>
          <li><a href="government">Government</a></li>
            <li><a href="about_us">About</a></li>
              <li><a href="Careers">Careers</a></li>

              <li  class="active"><a href="Contact" style="border-right: none">Contact</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<!-- /Main menu -->
</header>


			<!-- /Page title -->
			<!-- Content without sidebar -->


	<div class="content">
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="about_us">About</a></li>
   <li><a href="about_us#board">Board</a></li>
  <li class="active">Pankaj</li>
</ol>

<img src="images/team/pankaj.jpg" id="memeber">
<button type="button" class="btn btn-default" style="float: right; margin: 1em 2em 0 0" onclick="location.href='about_us#board'">Back</button>
<h1>Dr Pankaj Chandra</h1>




<h5>Former Director IIMB.&nbsp;</h5>
<!-- 	<div class="list-group">


</div> -->

<p> Professor Pankaj Chandra was the Director of the Indian Institute of

Management, Bangalore (IIMB) and a Professor of Operations and Technology

Management at IIMB. He has taught at various institutions such as McGill

University in Montreal, University of Geneva, The Wharton School, University of

Pennsylvania, International University of Japan, Cornell University, Renmin

University, Beijing, and IIM Ahmedabad (IIM A).  Professor Chandra has served

as member of the Government of India Committee on Clusters for Development

of the Informal Sector. He was a member of the two High Powered Committees

– the Government of India Committee on Rejuvenation of Higher Education

(Yashpal Committee) that re-looked at the Indian Higher Education system as

well as the committee on the Autonomy of Central Institutions. He was a

member of two Steering Committees constituted by the Planning Commission of

India for 12th Plan Development, one on Higher and Technical Education

(Where he also chaired the Sub-Committee on Student Financial Aid), and the

other on Industry. He was a member of Central Advisory Board of Education

(CABE) subcommittee on Teacher Education. Until recently, he was also a

member of the Telecom Regulatory Authority of India (TRAI). He was a member

of RUSA (the higher education regulator) of the Ministry of HRD, GOI.

Professor Chandra’s research and teaching interests include Manufacturing

Management, Supply Chain Coordination, Building Technological Capabilities,

higher education policy, and hi-tech entrepreneurship. Professor Chandra has

been involved in several startups, has also been a consultant to large Indian and

multi-national firms and serves on the Boards of several firms and institutions.


</p>




</div>




<div class="copyright_wrap">
	<div class="content_wrap">
		<p>
			© 2016 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>
		</p>
	</div>
</div>
            <!-- /Contacts Footer  -->
			<!-- Copyright -->

			<!-- /Copyright -->

    <!-- /Body -->
    <a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

    <div class="custom_html_section"></div>



	<script type="text/javascript">
$(document).ready(function(){
	document.onkeydown = function(e){
          if (e == null) { // ie
            keycode = event.keyCode;

          } else { // mozilla
            keycode = e.which;

          }
          if(keycode == 27){ // escape, close box, esc
              // Go back one page
              console.log("esc pressed");

              window.location.replace("about_us#board");

          }
        };
    });

</script>
