<% provide(:title, "Sreeram") %>

<%= stylesheet_link_tag "about-ext"%>



        <body>

            <header>
	<!-- Main menu -->
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding: 0"><img src="images/istarlogo.png" id="logoimg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="college">College <span class="sr-only">(current)</span></a></li>
        <li><a href="corporate">Corporate</a></li>
          <li><a href="government">Government</a></li>
            <li><a href="about_us">About</a></li>
              <li><a href="Careers">Careers</a></li>

              <li  class="active"><a href="Contact" style="border-right: none">Contact</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<!-- /Main menu -->
</header>


			<!-- /Page title -->
			<!-- Content without sidebar -->


	<div class="content">
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="about_us">About</a></li>
   <li><a href="about_us#team">Team</a></li>
  <li class="active">Sreeram</li>
</ol>

<img src="images/team/sreeram.jpg" id="memeber">
<button type="button" class="btn btn-default" style="float: right; margin: 1em 2em 0 0" onclick="location.href='about_us#team'">Back</button>
<h1>Sreeraman Vaidyanathan</h1>




<h5>Co-Founder and MD &nbsp;<a  href="https://www.facebook.com/mankal.sriram"><i class="fa fa-facebook-square"></i></a>
  <a href="#"><i class="fa fa-twitter-square"></i></a>
  <a  href="https://www.linkedin.com/in/mssriram"><i class="fa fa-linkedin-square"></i></a></h5>
<!-- 	<div class="list-group">


</div> -->

<p> 
Sreeram is responsible for ISTAR's overall product strategy and implementation. A technologist and educationist at heart, he's constantly dreaming up ways to use technology in crazy ways to radically redefine the teaching-learning experience to drive tangible improvements in learning outcomes.<br><br>

He has an MBA from the Indian Institute of Management, Ahmedabad and a Masters in Computer Science from the University of Colorado,Boulder. <br><br>

In a previous life, Sreeram co-founded Brewhaha Entertainment, a startup in the retail leisure entertainment and hospitality space where he became obsessed with gaming. Prior to starting Brewhaha, Sreeram worked as a Program Manager for Microsoft Corporation in its Enterprise Migration unit. 


</p>




</div>




<div class="copyright_wrap">
	<div class="content_wrap">
		<p>
			© 2016 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>
		</p>
	</div>
</div>
            <!-- /Contacts Footer  -->
			<!-- Copyright -->

			<!-- /Copyright -->

    <!-- /Body -->
    <a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

    <div class="custom_html_section"></div>


  <script type="text/javascript">
$(document).ready(function(){
  document.onkeydown = function(e){
          if (e == null) { // ie
            keycode = event.keyCode;

          } else { // mozilla
            keycode = e.which;

          }
          if(keycode == 27){ // escape, close box, esc
              // Go back one page
              console.log("esc pressed");

              window.location.replace("about_us#team");

          }
        };
    });

</script>
