<% provide(:title, "Surga") %>

<%= stylesheet_link_tag "about-ext"%>


            <header>
	<!-- Main menu -->
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding: 0"><img src="images/istarlogo.png" id="logoimg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="college.html">College <span class="sr-only">(current)</span></a></li>
        <li><a href="corporate.html">Corporate</a></li>
          <li><a href="government.html">Government</a></li>
            <li><a href="about_us.html">About</a></li>
              <li><a href="Careers.html">Careers</a></li>

              <li  class="active"><a href="Contact.html" style="border-right: none">Contact</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<!-- /Main menu -->
</header>


			<!-- /Page title -->
			<!-- Content without sidebar -->


	<div class="content">
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="about_us.html">About</a></li>
   <li><a href="about_us.html#team">Team</a></li>
  <li class="active">Surga</li>
</ol>

<img src="images/team/Surga.jpg" id="memeber">

<button type="button" class="btn btn-default" style="float: right; margin: 1em 2em 0 0" onclick="location.href='about_us.html#team'">Back</button>
<h1>Surga Thilakan</h1>




<h5>Co-Founder and CEO &nbsp;<a  href="#"><i class="fa fa-facebook-square"></i></a>
  <a href="#"><i class="fa fa-twitter-square"></i></a>
  <a  href="#"><i class="fa fa-linkedin-square"></i></a></h5>
<!-- 	<div class="list-group">


</div> -->

<p> Surga worked at Ujjivan Financial Services,

India’s leading microfinance institution as their

Head, Marketing and designed and executed

several innovative loan products for the urban

poor. She has also worked at Goldman Sachs,

London in their private equity and structured

finance groups, on the origination desk,

managing Goldman’s investments in

infrastructure assets across the UK, France, Italy, Spain, Greece, Germany,

Belgium and Turkey.  She also worked at Ernst and Young, India advising

clients across FMCG, Oil & Gas, Power, Hospitality, Pharma, Telecom and

Retail industries on taxation related transaction structuring. <br><br>

Surga has an MBA from the Indian Institute of Management, Ahmedabad and is

an associate member of the Institute of Chartered Accountants of India. She is a

gold medallist at the board, university and chartered accountancy levels.  Surga

loves travelling, painting, poetry and hopes to produce an animated feature film

someday.


</p>




</div>




<div class="copyright_wrap">
	<div class="content_wrap">
		<p>
			© 2016 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>
		</p>
	</div>
</div>
            <!-- /Contacts Footer  -->
			<!-- Copyright -->

			<!-- /Copyright -->

    <!-- /Body -->
    <a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

    <div class="custom_html_section"></div>



  <script type="text/javascript">
$(document).ready(function(){
  document.onkeydown = function(e){
          if (e == null) { // ie
            keycode = event.keyCode;

          } else { // mozilla
            keycode = e.which;

          }
          if(keycode == 27){ // escape, close box, esc
              // Go back one page
              console.log("esc pressed");

              window.location.replace("about_us.html#team");

          }
        };
    });

</script>
