<% provide(:title, "Will") %>
<%= stylesheet_link_tag "about-ext"%>



            <header>
	<!-- Main menu -->
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding: 0"><img src="images/istarlogo.png" id="logoimg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="college">College <span class="sr-only">(current)</span></a></li>
        <li><a href="corporate">Corporate</a></li>
          <li><a href="government">Government</a></li>
            <li><a href="about_us">About</a></li>
              <li><a href="Careers">Careers</a></li>

              <li  class="active"><a href="Contact" style="border-right: none">Contact</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	<!-- /Main menu -->
</header>

	<div class="content">
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="about_us">About</a></li>
   <li><a href="about_us#board">Board</a></li>
  <li class="active">Will</li>
</ol>

<img src="images/team/will.jpg" id="memeber">
<button type="button" class="btn btn-default" style="float: right; margin: 1em 2em 0 0" onclick="location.href='about_us#board'">Back</button>
<h1>Will Poole</h1>




<h5>Co-founder Unitus Seed Fund &nbsp;<a  href="#"><i class="fa fa-facebook-square"></i></a>
  <a href="#"><i class="fa fa-twitter-square"></i></a>
  <a  href="#"><i class="fa fa-linkedin-square"></i></a></h5>
<!-- 	<div class="list-group">


</div> -->

<p> Will Poole is a Social Technologist and venture investor, focused on improving

ecosystems that bring social and economic opportunity to low-income

populations. In 2012, he co-founded Unitus Seed Fund, now the leading venture

seed fund supporting startups innovating for the masses in India. In 2015, Will

co-founded Capria Accelerator, the first global accelerator for impact VCs.

Unitus Seed Fund is an affiliate of Unitus Group, a premier financial services

group operating in India and other emerging markets since 2000.<br><br>

Will co-founded Bangalore-based Pengala Learning and Vidyanext, whose

mission is to change the way India learns. He is active in Social Venture

Partners Seattle’s initiatives around social entrepreneurship including founding

SVP Fast Pitch, and he and co-founded SVP Bangalore. He serves on the

investment committee of the W-Fund. Will was previously Chairman of

NComputing, a leader in low-cost, low-energy computing, and a corporate vice

president at Microsoft where he led several global businesses, including

Windows. His career started by founding two startups at the dawn of the PC era,

working in the early days at Sun Microsystems, and pioneering e-commerce at

eShop which was acquired by Microsoft in 1996. Will is passionate about

education from early learning to higher ed, where he advises Western

Governors University and Brown University on technology and is a Trustee of

Pinchot (formerly Bainbridge Graduate Institute). Will received a degree in

Computer Science from Brown University.



</p>





</div>




<div class="copyright_wrap">
	<div class="content_wrap">
		<p>
			© 2016 All Rights Reserved. <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a>
		</p>
	</div>
</div>
            <!-- /Contacts Footer  -->
			<!-- Copyright -->

			<!-- /Copyright -->

    <!-- /Body -->
    <a href="#" class="scroll_to_top icon-up-2" title="Scroll to top"></a>

    <div class="custom_html_section"></div>



	<!--<script type="text/javascript" src="js/core.customizer/front.customizer.min.js"></script>
	<script type="text/javascript" src="js/skin.customizer.min.js"></script>-->
<script type="text/javascript">
$(document).ready(function(){
	document.onkeydown = function(e){
          if (e == null) { // ie
            keycode = event.keyCode;

          } else { // mozilla
            keycode = e.which;

          }
          if(keycode == 27){ // escape, close box, esc
              // Go back one page
              console.log("esc pressed");

              window.location.replace("about_us#board");

          }
        };
    });

</script>
