


html, body { height: 100%; width: 100%; margin: 0;
font-family: 'Roboto Condensed', sans-serif; }

.body_wrap{
width: 100%;
   height: 100%;
   
}
.page_wrap{
width: 100%;
   height: 100%;
   
}
.tab-content{

	width: 100%;
   height: 100%;
}

.tab-pane{
height: 100%;
width: 100%;
background: #fff;

}

h1,h3{
	margin :0;
}
h3{
	font-size: 18px;
	/*font-weight: bold;*/
	padding: 5px 0 5px 0;

}

.nav-tabs>li>a{
	border-bottom: none;
	color: #000;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
	/*text-transform: uppercase;*/
	/*font-weight: bold;*/
	/*font-size: 1.7em;*/

}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     width:20%;
     height: 100%;
      margin-right: -4px;

}

.nav-tabs, .nav-pills {
    text-align:center;

}




.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{

	border: none;	
	border-bottom: none;
	background-color: #3a3a3a;  
	color: #fff;
	height:100%;
	font-weight: bold;
}

.nav-tabs>li.active>a:hover{
	background-color: #3a3a3a;
	color: #fff; 
	border: none; 
}
.nav>li>a:hover{
	background-color: rgba(234,234,225,0.4); 
}
/*.nav-tabs>li>a:hover{
	border-color: rgba(0,0,0,0); 
}*/

.nav-tabs>li>a{
	border-radius: 0 0 0 0;
    border: none;

   margin: 0;
}

.nav{
	
  
    margin-top: 1px;
    
   
	
}

.nav-tabs{
	border-bottom: none;	
}




.container{
	height: auto;
	width: 100%;
	padding: 0 0 0 0;
}



.item{
width: 100%;
   height: 100%;
}

.row{
	margin: 0;
	padding: 2% 2% 2% 2%;
		width: 100%;
}

.one{
	
	height:100%;
	
background: #FAFAFA;
}

.two{
height:100%;


background: #FAFAFA;
}

.col{
	padding:1% 2%;
	overflow: auto;
	min-height: 28em;
	/*background: #cccccc;
	border:  solid #fff; */

}

.teammember{
	margin: 0 0;
	width: 100%;
	height: 100%;
	
}
.teammember img{
	display:block;
    margin:auto;
	width: 210px;
	height: 210px;
	border-radius: 110px;
}

.teammember p{
	
   /* margin:3px;*/
	color: #6A6666;
	font-size: 17px;
	overflow: auto;
}



.full_team{
	height: 51em;
	background: url(../images/team/full_team.jpg) no-repeat center center;
	background-size: cover;
	z-index: 10;
}

.full_team p{

	margin: 0px;
	font-size: 2em;
	color: #000;
	text-align: center;
	padding: 1em 2em 1em 2em;
	line-height: 1.5em;
	
}
.team-text{
	margin: 0% 5% 0 5%;
	
background-color: rgba(255,255,255,0.8); 
z-index: 5;
/*border-radius: 11px;
border: solid 2px #fff;*/
position: relative;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -transform: translateY(-50%);
}



/*.boardrow{
	height: 100%;
	width: 100%;
}

.boardcol{
	height: 100%;
}

.partnerrow{
	height: 100%;
	width: 100%;
}

.partnercol{
	height: 100%;
}*/

#about-nav{
	
   width: 100%;
    margin-top: 1px;
    background: #F46763;
   
	
}


@media only screen and (max-width: 630px){

.full_team p{

	
	font-size: 1.2em;
	
	
}

#partners img{
	height: 13em;

}

}
