


html, body { height: 100%; width: 100%; margin: 0;
font-family: 'Roboto Condensed', sans-serif; }

.body_wrap{
width: 100%;


}
.page_wrap{
width: 100%;


}
.tab-content{

	width: 100%;

}

.tab-pane{
height: 100%;
width: 100%;
background: #fff;

}

h1{
	margin :0;
}

.nav-tabs>li>a{
	border-bottom: none;
	color: #000;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
	/*text-transform: uppercase;*/

	/*font-size: 1.7em;*/

}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     width:20%;
     height: 100%;
      margin-right: -4px;

}

.nav-tabs, .nav-pills {
    text-align:center;

}


.careers-header{
  font-size: 3em;
font-weight: 300;
line-height: 1.1667em;
 margin-top: 0;
margin-bottom: 0.375em;
margin-left: 0.7em;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #3a3a3a;
	color: #fff;
	height:100%;
  font-weight: bold;
}

.nav-tabs>li.active>a:hover{
	background-color: #3a3a3a;
	color: #fff;
	border: none;
}
.nav>li>a:hover{
	background-color: rgba(234,234,225,0.4);
}
/*.nav-tabs>li>a:hover{
	border-color: rgba(0,0,0,0);
}*/

.nav-tabs>li>a{
	border-radius: 0 0 0 0;
    border: none;

   margin: 0;
}

.nav{


    margin-top: 1px;



}

.nav-tabs{
	border-bottom: none;
}




.container{

	width: 100%;
	padding: 0 0 0 0;
}



.item{
width: 100%;
   height: 100%;
}

.row{

		width: 100%;
}

.col{

	padding: 3%;
  border-right: 1px solid #ccc;
  min-height: 43em;
  margin-bottom: 2em
}
#careers-nav{

   width: 100%;
    margin-top: 1px;
    background: #FEC56D;


}
/*Testimonials*/
.testimonials blockquote {
  position: relative;
  background: white;
  min-height: 100px;
  /*margin-top: 20px;*/
  margin-bottom: 100px;
  border: 1px solid #ecedf1;
}
.testimonials blockquote:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  margin-top: 98px;
  border-top: 10px solid #ecedf1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.testimonials blockquote:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.testimonials blockquote img {
  height: 80px;
  width: 80px;
  position: absolute;
  border: 1px solid #ECEDF1;
  background: white;
  bottom: -92px;
  left: 46%;
  margin-left: -25px;
}

blockquote p.clients-words {
    font-size: 14px;
     position: absolute;
          top: 20%;
   font-style: italic;
}
span.clients-name {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.job-card{

	border: 1px solid #ccccb3;
	margin-bottom: 2em;
	min-height: 4em;
	background: #fff;
}

.job-card p{
	font-size: 1.2em;
	margin-top: 1.5em;
	text-align: center;
}

.job-button{

	border-radius: 0;
	box-shadow: none;
	display: block;
	margin: 0 auto;
}

.job-button:hover{

background: #123B67;
}

/*end testimonials*/



@media only screen and (max-width: 630px){


.col{
min-height: 10em;

}
}