

html, body { height: 100%; width: 100%; margin: 0;
font-family: 'Roboto Condensed', sans-serif; }

.body_wrap{
width: 100%;
   height: 100%;

}
.carousel-control {

	width: 5%;
}
.page_wrap{
width: 100%;
   height: 100%;

}
.tab-content{

	width: 100%;
   height: 100%;
}

.tab-pane{
height: 100%;
width: 100%;

}

.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel, .carousel-inner{
    background: #b7b795;
  height: 100%;

   /* margin-top: 20px; */
   width: 100%;


}
.nav-tabs>li>a{
	border-bottom: none;
	color: #000;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
	/*text-transform: uppercase;*/
	/*font-weight: bold;*/
	/*font-size: 1.7em;*/

}

.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     width:20%;
     height: 100%;
      margin-right: -4px;

}

.nav-tabs {
    text-align:center;

}

.nav-tabs>#ilabbg.active>a, .nav-tabs>#ilabbg>a:focus{


	background-color: #6d6d6d;

}


.nav-tabs>#protrackbg.active>a, .nav-tabs>#protrackbg>a:focus{


	background-color: #FEC56D;

}

.nav-tabs>#careerbg.active>a, .nav-tabs>#careerbg>a:focus{


	background-color: #006095;

}

.nav-tabs>li.active>a, .nav-tabs>li>a:focus{

	border: none;
	border-bottom: none;
	background-color: #3a3a3a;
	font-weight: bold;
	color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #3a3a3a;
	color: #fff;
}
.nav>li>a{
padding: 1px 0px;
}


#product-nav>li>a {

     padding: 10px 15px;
}
/*
.nav-tabs>#ilabbg.active>a, .nav-tabs>#ilabbg.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #f49705;
	color: #fff;
}

.nav-tabs>#protrackbg.active>a, .nav-tabs>#protrackbg.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #96af3c;
	color: #fff;
}

.nav-tabs>#careerbg.active>a, .nav-tabs>#careerbg.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #884b88;
	color: #fff;
}

.nav-tabs>#certificatebg.active>a, .nav-tabs>#certificatebg.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #333333;
	color: #fff;
}
*/
.nav-tabs>li.active>a:hover{
	background-color: #3a3a3a;
	color: #fff;
	border: none;
}
.nav>li>a:hover{
	background-color: rgba(234,234,225,0.4);
}


.nav-tabs>li>a{
	border-radius: 0 0 0 0;
    border: none;

   margin: 0;
}

#product-nav{

   width: 100%;
    margin-top: 1px;
    background: #fff;


}

.nav-tabs{
	border-bottom: none;
}

.bs-example-clip, .bs-example{
	height: 100%
}


.college{


width: 100%;
height: 96%;

}

.container{
	height: 96%;
	width: 100%;
	padding: 0 0 0 0;

overflow:auto;
}


.corporate{


width: 100%;
height: 100%;

}
.govt{


width: 100%;
height: 100%;

}
.item{
width: 100%;
   height: 100%;
}
.bs-example{
width: 100%;
   height: 100%;

}

#myCarousel1{
background: #7b7b51;
}

#myCarousel2{
background: #7b7b51;
}

#myCarousel3{
background: #7b7b51;
}

#myCarousel4{
background: #7b7b51;
}

#myCarousel5{
background: #7b7b51;
}

#myCarousel6{
background: #7b7b51;
}

/*
.carousel .item img{
    margin: 0 auto;  Align slide image horizontally center
    width: 100%;
    height: 100%;
}*/

#ilab1 {
/*height: 100%;
width: 100%;*/
   background: #6d6d6d;
/*  background-size: 100% 100%;*/
 /*background-size: cover;*/
}
#ilab2 {
/*height: 100%;
width: 100%;*/
 /*  background: url(images/products/ilab2.jpg) no-repeat center center ;
 background-size: cover;*/
/* background-size: contain;*/

background: #6d6d6d;
}
#ilab3 {
/*height: 100%;
width: 100%;*/
background: #6d6d6d;

   /*background-size: contain;	*/
}
#ilab4 {
/*height: 100%;
width: 100%;*/
background: #6d6d6d;
height: 100%;

   /*background-size: contain;	*/
}




#protrack1{
 /*background: url(images/products/protrack4.jpg) no-repeat center center ;
 background-size: cover;*/
background: #FEC56D;
}


#protrack2{
/* background: url(images/products/protrack5.jpg) no-repeat center center ;
 background-size: cover;*/
 background:  #FEC56D;
}

#protrack3{
 /*background: url(images/products/protrack6.jpg) no-repeat center center ;
 background-size: cover;*/
 background: #FEC56D;
}

#protrack4{
 /*background: url(images/products/protrack6.jpg) no-repeat center center ;
 background-size: cover;*/
 background: #FEC56D;
}



#career1{
 /*background: url(images/products/careerprep1.jpg) no-repeat center center ;
 background-size: cover;*/
 background: #006095;
}


#career2{
	background: #006095;
}

#career3{
		background: #006095;

}
#career4{
		 background: #006095 ;

}


#certificate1{
 background: url(images/products/cert1.png) no-repeat center center ;
 background-size: cover;
}

#certificate2{
	 background: url(images/products/cert2.png) no-repeat center center ;
 background-size: cover;
}
#certificate3{
	background: #585858;
}




.carousel-inner h1{
	padding: 0 0 0 0;
	margin: 0;
	color: #fff;
	font-size: 30px;


}

.graphic{
		/*width: 36%;*/
		width: 45%;
	min-height:100%;
	/*background: #000;*/
	display: inline-block;
float: left;
overflow: hidden;
/*margin: 0 2% 0 7%;*/
    margin: 0 1% 0 4%;
}

.details{
	margin: 0 7% 0 7%;
	width:36%;
	/*height:90%;*/
	/*background: #000;*/
	float: left;
	/*overflow: hidden;*/
	display: inline-block;
	 position:relative;
	  top:50%;
	 transform:translateY(-50%);
}


#ilabimg1{


 background: url(../images/products/ilabhtml1.png) no-repeat center center;
 background-size: contain;

}

#ilabimg2{


 background: url(../images/products/ilabhtml2.png) no-repeat center center;
 background-size: contain;

}

#ilabimg3{


 background: url(../images/products/ilabhtml3.png) no-repeat center center;
 background-size: contain;

}
#careerimg1{


 background: url(../images/products/careerhtml1.png) no-repeat center center;
 background-size: contain;
}


#careerimg2{

 background: url(../images/products/careerhtml2.png) no-repeat center center;
 background-size: contain;
}
#careerimg3{

 background: url(../images/products/careerhtml3.png) no-repeat center center;
 background-size: contain;
}

#protrakimg1{

 background: url(../images/products/protrakhtml1.png) no-repeat center center;
 background-size: contain;
}
#protrakimg2{

 background: url(../images/products/protrakhtml2.png) no-repeat center center;
 background-size: contain;
}
#protrakimg3{

 background: url(../images/products/protrakhtml3.png) no-repeat center center;
 background-size: contain;
}

/*.graphic img{
	width: 50%;
	height: 60%;
	margin: 10% 0 0 10%;
}*/

.details p{

	margin: 10% 20% 0 0;

	color: #fff ;

	font-size: 20px;
}


/*#ilabbg{
	background: #f49705;
}



#protrackbg{
	background: #96af3c;
}

#careerbg{
	background: #884b88;
}

#certificatebg{
	background: #333333;
}*/


.item{
	height: 100%;

}


/*Card implementation*/




.card-row1, .card-row2, .card-row3{

	width: 90%;
	margin: 0 auto;
	padding-bottom: 1%;
}

.card-row1{
	padding-top: 1%;
}

/*End of card implementation*/


/*new card-display implementation*/
.custom-containercard{
	width:100%;
	min-height: 50em;
	background: #333;
	margin: auto auto;
}



.certificate-row{
	margin: 0 auto;
	width: 80%;
	border-bottom: solid 1px #333;

}

.certificate-col p{
color: #fff;
text-align: center;
font-weight: bold;
font-size: 1.5em;
padding: 1.5em 0 0.5em 0;
margin-bottom: 0;
}

.certificate-col img{
max-height: 4em;
max-width: 4em;
display: block;
   margin: auto auto;
}

.certificate-col{
height: 100%;

min-height: 11em;

	border-right: solid 1px #333;
	/*border-bottom: solid 1px #333;*/
}
.certificate-col:hover{
	cursor: default;

}



.card-inner{
	height: 100%;

	    padding-top: 4em;
	/*overflow: auto;*/
}

p.inner-text{
	font-weight: normal;
	line-height: 4em;

}

.back p{
	font-size: 1.17em;
	line-height: 1em;
	/*text-align: justify;*/
	padding: 1.2em;
	font-style: italic;

}





.certificate-row h1{

	color: #fff;
	margin: 0;
	padding: 0.5em;

}

.card-container {
  cursor: pointer;
  height: 150px;
  -webkit-perspective: 600;
     -moz-perspective: 600;
      -ms-perspective: 600;
       -o-perspective: 600;
          perspective: 600;
  position: relative;
  width: 33.33%;
      padding-right: 0px;
    padding-left: 0px;
}
.card {
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;


    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
           -transition: all 1s ease-in-out;

  width: 100%;
}
.card:active {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card .side {

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;

  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;

  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);

}

.card:hover {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}


/*Testimonial section*/
/*#testimonials{
	width: 90%; 
	margin: 0 auto;
	height: 100%;
}
#testimonials h2 {
	color:#333;
	width: 60%;
	font:26px Georgia, serif;
	text-shadow:-1px -1px 0 rgba(255,255,255,0.25);
	margin-top: 0;
}
#testimonials li {
	border-top:3px solid rgba(0,0,0,0.2);
	clear:both;
	padding:40px 0;

}

#testimonials li{
	padding-left: 20%;
	height: 49%;	
}


#testimonials li:nth-child(2n){
	padding-left: 0%;
	
}
#testimonials li img {
	
	float: left;
	
	
	margin:0 0 0 0;
	height: 100%;
	
	border: 4px solid #fff;
	 box-shadow: 2px 2px 5px #333;
}
#testimonials li:nth-child(2n) img {
	
	margin:0 0 0 0;
	float: right;

}
#testimonials p {
		
	color: #333;
}
#testimonials li:first-child {
	border:none;
}
#testimonials div {
	overflow:hidden;
}*/


.testimonial-section{
     
	height:100%;
}

.testimonial-one, .testimonial-two{
	height: 33%;
	width: 63%;
	

}

.testimonial-one{
	background: rgba(255,255,255, 0.4);
	
	margin-top: 4%;
	margin-bottom: 7%;
	margin-right: 6%;
	float: right;

	display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
    
}


.testimonial-two{
	background: rgba(255,255,255, 0.4);;
	
	
	
	margin-left: 6%;
display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */


}



.testimonial-image {
	

	height: 100%;
 	
display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */

}

.testimonial-details{
display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */


	width: 65%;
	height: 100%;
	padding: 2%
	
}



.testimonial-details blockquote p{

color: #333;
font-size: 0.63em;
}

blockquote{
	margin-bottom: 0;
}

blockquote:before{
    left: -32px;
    top: 0;
     font-size: 1em; */
    line-height: 1em;
    color: rgba(144,144,144,0.7);

}

.testimonial-image img{
	width: 10em;
	height: 10em;
	margin: 1em;
	border-radius: 50%; 
	    border: 4px solid #fff;
    box-shadow: 2px 2px 5px #333;
    display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}


.testimonial-row{
	 
	
	
	height: 100%;
	padding-bottom: 10%;

}


.testimonial-col{

	height: 30em;
	
}

.second{
	float: right;
}


/*end of testimonail*/

@media only screen and (max-width: 904px) {

.card-inner{
	padding-top: 0;
}


.graphic{
	width:86%;
	height:30em;
	/*background: #000;*/
	float: none;
	overflow: hidden;
	display: block;
	background: no-repeat center top;
}

.details{
	width:100%;
	height:100%;
	/*background: #000;*/
	float: none;
	margin: 0px;
	padding: 3% 3% 15% 3%;
	overflow: hidden;
	display: block;
	transform: none;
}


.details p{
    margin: 0px;
    padding: 10px;
	color: #fff ;
	text-align: justify;
	font-size: 1em;

}

.carousel-inner h1{
	padding: 3%;
	margin: 0;
	color: #fff;
	text-align: center;
	font-size: 1.2em;
}

.college{
	height: auto;
	/*overflow: auto;*/


}
.certificate-row{

	width: 100%;
	height: auto;

	border: none;


}
.certificate-row h1{

	color: #fff;
	margin: 0;
	padding: 1em;



}


.certificate-col{

	width: 100%;
	height: 6em;

border-top: solid 1px #333;

}




.testimonial-section{
	padding-top: 4%;

}

.testimonial-one{

	
	float: none;
	margin: 0 auto;
	display: block;
	width: 80%;
    height: 17em;
	padding-top: 2%;
	
}

.testimonial-two{
float: none;
	margin: 4% auto;
	display: block;
	width: 80%;
	height: 17em;
	padding-top: 2%;

}

.testimonial-details{
margin: 0;
display: inline-block;

}

div.testimonial-image{
	display: inline-block;
	height: auto;
	float: none;
	height: 15em;
}



#ilab4{
	min-height: 40em;
}


	}
@media only screen and (max-device-width: 480px) {

div.testimonial-image {
    display: block;
    height: auto;
    float: none;
   clear both;
}

.testimonial-details {
    margin: 0;
    display: block;
    width: 100%;
}

div.testimonial-image img{
	display: block;
    margin: 0 auto;
    
}

.testimonial-one, .testimonial-two{
 margin: 0;
    display: block;
    width: 100%;
    height: auto;
    padding: 1%;

}

.second{
	float: none;
}
.testimonial-one{
	margin-bottom: 1%;
}



}