

html, body { height: 100%; width: 100%; margin: 0;
font-family: 'Roboto Condensed', sans-serif; }

.list-icons, .list {
    list-style: none;
    padding: 0;
}
.social-links li a i {
    line-height: 44px;
}

.footer {
    font-size: 14px;
    color: #999999;
        padding: 30px 0;
    background-color: #f7f7f7;
 
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #d1d1d1;
    position: relative;
}




.footer-content .social-links li a {
    color: #666;
    background-color: transparent;
    border-color: #666;
}
.social-links.circle li a {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.social-links li a {
    background: #e84c3d;
    border: 1px solid #e84c3d;
    color: #fff;
}
.social-links li a {
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    font-size: 20px;
    background: #e84c3d;
    border: 1px solid #e84c3d;
    color: #fff;
}
a, .text-default {
    color: #e84c3d;
}
a {
    color: #e84c3d;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
.social-links {
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 40px 0 20px 0;

}
ul {
    list-style: square;
}
.footer-content .social-links li {
    margin: 0 5px 5px 0;
}
.social-links li {
    display: inline-block;
    margin: 0 2px 2px 0;

}





.social-links li.twitter a:hover,
.colored.social-links li.twitter a {
	background-color: #55acee;
	border-color: #55acee;
	color: #fff;

}
.social-links li.skype a:hover,
.colored.social-links li.skype a {
	background-color: #00aff0;
	border-color: #00aff0;
	color: #fff;
}
.social-links li.linkedin a:hover,
.colored.social-links li.linkedin a {
	background-color: #0976b4;
	border-color: #0976b4;
	color: #fff;
}
.social-links li.googleplus a:hover,
.colored.social-links li.googleplus a {
	background-color: #dd4b39;
	border-color: #dd4b39;
	color: #fff;
}
.social-links li.youtube a:hover,
.colored.social-links li.youtube a {
	background-color: #b31217;
	border-color: #b31217;
	color: #fff;
}
.social-links li.flickr a:hover,
.colored.social-links li.flickr a {
	background-color: #ff0084;
	border-color: #ff0084;
	color: #fff;
}
.social-links li.facebook a:hover,
.colored.social-links li.facebook a {
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}
.social-links li.pinterest a:hover,
.colored.social-links li.pinterest a {
	background-color: #cb2027;
	border-color: #cb2027;
	color: #fff;
}
.social-links li.instagram a:hover,
.colored.social-links li.instagram a {
	background-color: #517fa4;
	border-color: #517fa4;
	color: #fff;
}
.social-links li.vimeo a:hover,
.colored.social-links li.vimeo a {
	background-color: #aad450;
	border-color: #aad450;
	color: #fff;
}
.social-links li.tumblr a:hover,
.colored.social-links li.tumblr a {
	background-color: #32506d;
	border-color: #32506d;
	color: #fff;
}
.social-links li.soundcloud a:hover,
.colored.social-links li.soundcloud a {
	background-color: #ff3a00;
	border-color: #ff3a00;
	color: #fff;
}
.social-links li.foursquare a:hover,
.colored.social-links li.foursquare a {
	background-color: #0072b1;
	border-color: #0072b1;
	color: #fff;
}
.social-links li.dribbble a:hover,
.colored.social-links li.dribbble a {
	background-color: #ea4c89;
	border-color: #ea4c89;
	color: #fff;
}
.social-links li.behance a:hover,
.colored.social-links li.behance a {
	background-color: #053eff;
	border-color: #053eff;
	color: #fff;
}
.social-links li.vine a:hover,
.colored.social-links li.vine a {
	background-color: #00a478;
	border-color: #00a478;
	color: #fff;
}
.social-links li.stumbleupon a:hover,
.colored.social-links li.stumbleupon a {
	background-color: #f74425;
	border-color: #f74425;
	color: #fff;
}
.page_content_wrap{

	height: 40em;
}

.content{
	height: 100%;
}
.footer{
	height: 100%;
}
