


html, body { height: 100%; width: 100%; margin: 0;
font-family: 'Roboto Condensed', sans-serif; }

.body_wrap{
width: 100%;
   height: 100%;

}
.carousel-control {

	width: 5%;
}
.page_wrap{
width: 100%;
   height: 100%;

}
.tab-content{

	width: 100%;
   height: 100%;
}

.tab-pane{
height: 100%;
width: 100%;

}




.nav-tabs>#ilabbg.active>a, .nav-tabs>#ilabbg>a:focus{


	background-color: #FEC56D ;

}

.nav-tabs>#protrackbg.active>a, .nav-tabs>#protrackbg>a:focus{


	background-color: #333;

}

.nav-tabs>#careerbg.active>a, .nav-tabs>#careerbg>a:focus{


	background-color: #006095;

}

.nav-tabs>#certificatebg.active>a, .nav-tabs>#certificatebg>a:focus{


	background-color: #585858;

}




.carousel-control.left, .carousel-control.right {
    background-image: none
}
.carousel, .carousel-inner{
    background: #b7b795;
  height: 100%;

   /* margin-top: 20px; */
   


}
.nav-tabs>li>a{
	border-bottom: none;
	color: #000;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
	/*text-transform: uppercase;*/
	/*font-weight: bold;*/
	/*font-size: 1.7em;*/

}

.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     width:20%;
     height: 100%;
      margin-right: -4px;

}

.nav-tabs {
    text-align:center;

}

.nav-tabs>li.active>a, .nav-tabs>li>a:focus{

	border: none;
	border-bottom: none;
	background-color: #3a3a3a;
	font-weight: bold;
	color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #3a3a3a;
	color: #fff;
}
.nav>li>a{
padding: 1px 0px;
}


#product-nav>li>a {

    padding: 10px 15px;
}



/*
.nav-tabs>#ilabbg.active>a, .nav-tabs>#ilabbg.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #f49705;
	color: #fff;
}

.nav-tabs>#protrackbg.active>a, .nav-tabs>#protrackbg.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #96af3c;
	color: #fff;
}

.nav-tabs>#careerbg.active>a, .nav-tabs>#careerbg.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #884b88;
	color: #fff;
}

.nav-tabs>#certificatebg.active>a, .nav-tabs>#certificatebg.active>a:focus{

	border: none;
	border-bottom: none;
	background-color: #333333;
	color: #fff;
}
*/
.nav-tabs>li.active>a:hover{
	background-color: #3a3a3a;
	color: #fff;
	border: none;
}
.nav>li>a:hover{
	background-color: rgba(234,234,225,0.4);
}
/*.nav-tabs>li>a:hover{
	border-color: rgba(0,0,0,0);
}*/

.nav-tabs>li>a{
	border-radius: 0 0 0 0;
    border: none;

   margin: 0;
}

#product-nav{

   width: 100%;
    margin-top: 1px;
    background: #fff;


}

.nav-tabs{
	border-bottom: none;
}

.bs-example-clip, .bs-example{
	height: 100%
}


.college{


width: 100%;
height: 100%;

}

.container{
	height: 96%;
	width: 100%;
	padding: 0 0 0 0;

overflow:auto;
}


.corporate{


width: 100%;
height: 100%;

}
.govt{


width: 100%;
height: 100%;

}
.item{
width: 100%;
   height: 100%;
}
.bs-example{
width: 100%;
   height: 100%;

}

#myCarousel1{
background: #7b7b51;
}

#myCarousel2{
background: #7b7b51;
}

#myCarousel3{
   background: #b7b795;
  height: 100%;}

#myCarousel4{
background: #7b7b51;
}

#myCarousel5{
background: #7b7b51;
}

#myCarousel6{
background: #7b7b51;
}

/*
.carousel .item img{
    margin: 0 auto;  Align slide image horizontally center
    width: 100%;
    height: 100%;
}*/
#ilab1 {
/*height: 100%;
width: 100%;*/
   background: #FEC56D;
/*  background-size: 100% 100%;*/
 /*background-size: cover;*/
}
#ilab2 {
/*height: 100%;
width: 100%;*/
 /*  background: url(images/products/ilab2.jpg) no-repeat center center ;
 background-size: cover;*/
/* background-size: contain;*/

background: #FEC56D;
}
#ilab3 {
/*height: 100%;
width: 100%;*/
background: #FEC56D;

   /*background-size: contain;	*/
}

#protrack1{
 /*background: url(images/products/protrack4.jpg) no-repeat center center ;
 background-size: cover;*/
background: #FEC56D;
}


#protrack2{
/* background: url(images/products/protrack5.jpg) no-repeat center center ;
 background-size: cover;*/
 background:  #FEC56D;
}

#protrack3{
 /*background: url(images/products/protrack6.jpg) no-repeat center center ;
 background-size: cover;*/
 background: #FEC56D;
}

#career1{
 /*background: url(images/products/careerprep1.jpg) no-repeat center center ;
 background-size: cover;*/
 background: #006095;
}


#career2{
	background: #006095;
}

#career3{
		background: #006095;

}
#career4{
		 background: #585858 ;

}

#certificate1{
 background: #585858;

}

#certificate2{
	 background: url(../images/products/cert2.png) no-repeat center center ;
 background-size: cover;
}
#certificate3{
	background: #585858;
}

#talentify1{
 background: url(../images/products/careerprep4.jpg) no-repeat center center ;
 background-size: cover;
}
#talentify2{
	 background: url(../images/products/careerprep4.jpg) no-repeat center center ;
 background-size: cover;
}

#talentify3{
	 background: url(../images/products/careerprep4.jpg) no-repeat center center ;
 background-size: cover;
}
#workshop1{
 background: url(../images/products/careerprep4.jpg) no-repeat center center ;
 background-size: cover;
}

#workshop2{
	 background: url(../images/products/careerprep4.jpg) no-repeat center center ;
 background-size: cover;
}

#workshop3{
	 background: url(images/products/careerprep4.jpg) no-repeat center center ;
 background-size: cover;
}
#govt{
	 background: url(http://www.xtekpartners.com/images/government.jpg) no-repeat center center ;
  background-size: 100% 100%;





}
.carousel-inner h1{
	padding: 0 0 0 0;
	margin: 0;
	color: #fff;
	font-size: 1.875em;


}

.graphic{
		/*width: 36%;*/
		width: 45%;
	min-height:100%;
	/*background: #000;*/
	display: inline-block;
float: left;
overflow: hidden;
/*margin: 0 2% 0 7%;*/
margin: 0 1% 0 4%;
}

.details{
	margin: 0 3% 0 3%;
	width:44%;
	/*height:90%;*/
	/*background: #000;*/
	float: left;
	/*overflow: hidden;*/
	display: inline-block;
	 position:relative;
	  top:50%;
	 transform:translateY(-50%);
}


#ilabimg1{


 background: url(../images/products/elearninghtml1.png) no-repeat center center;
 background-size: contain;

}

#ilabimg2{


 background: url(../images/products/elearninghtml2.png) no-repeat center center;
 background-size: contain;

}

#ilabimg3{


 background: url(../images/products/elearninghtml3.png) no-repeat center center;
 background-size: contain;

}
#careerimg1{


 background: url(../images/products/trainhtml.png) no-repeat center center;
 background-size: contain;
}


#careerimg2{

 background: url(../images/products/careerhtml2.png) no-repeat center center;
 background-size: contain;
}
#careerimg3{

 background: url(../images/products/careerhtml3.png) no-repeat center center;
 background-size: contain;
}

#protrakimg1{

 background: url(../images/products/ilthtml2.png) no-repeat center center;
 background-size: contain;
}
#protrakimg2{

 background: url(../images/products/ilthtml2.png) no-repeat center center;
 background-size: contain;
}
#protrakimg3{

 background: url(../images/products/protrakhtml3.png) no-repeat center center;
 background-size: contain;
}

#csr{

 /*background: url(../images/products/csrhtml.jpg) no-repeat center center;
 background-size: contain;*/
  display: flex;              /* establish flex container */
    flex-direction: column;
    justify-content: center;    /* align items vertically, in this case */
    align-items: center;        /* align items horizontally, in this case */
    height: auto;
 
}



.details p{

	margin: 10% 20% 0 0;

	color: #fff ;

	font-size: 1.25em;
}


/*#ilabbg{
	background: #f49705;
}



#protrackbg{
	background: #96af3c;
}

#careerbg{
	background: #884b88;
}

#certificatebg{
	background: #333333;
}*/


.item{
	height: 100%;

}



/*new card-display implementation*/

/*Card implementation*/


.card-row1, .card-row2, .card-row3{

	width: 90%;
	margin: 0 auto;
	padding-bottom: 1%;
}

.card-row1{
	padding-top: 1%;
}

/*End of card implementation*/


/*new card-display implementation*/
.custom-containercard{
	width:100%;
	min-height: 50em;
	background: #333;
	margin: auto auto;
}



.certificate-row{
	margin: 0 auto;
	width: 80%;
	border-bottom: solid 1px #333;

}

.certificate-col p{
color: #fff;
text-align: center;
font-weight: bold;
font-size: 1.5em;
padding: 1.5em 0 0.5em 0;
margin-bottom: 0;
}

.certificate-col img{
max-height: 4em;
max-width: 4em;
display: block;
   margin: auto auto;
}

.certificate-col{
height: 100%;

min-height: 11em;

	border-right: solid 1px #333;
	/*border-bottom: solid 1px #333;*/
}
.certificate-col:hover{
	cursor: default;

}



.card-inner{
	height: 100%;

	    padding-top: 4em;
	/*overflow: auto;*/
}

p.inner-text{
	font-weight: normal;
	line-height: 4em;

}

.back p {
    font-size: 1.17em;
    line-height: 1em;
    /* text-align: justify; */
    padding: 1.2em;
    font-style: italic;
}

.certificate-row h1{

	color: #fff;
	margin: 0;
	padding: 0.5em;

}

.card-container {
  cursor: pointer;
  height: 150px;
  -webkit-perspective: 600;
     -moz-perspective: 600;
      -ms-perspective: 600;
       -o-perspective: 600;
          perspective: 600;
  position: relative;
  width: 33.33%;
      padding-right: 0px;
    padding-left: 0px;
}
.card {
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;


    -webkit-transition: all 1s ease-in-out;
       -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
         -o-transition: all 1s ease-in-out;
           -transition: all 1s ease-in-out;

  width: 100%;
}
.card:active {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card .side {

  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;

  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;

  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);

}

.card:hover {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}







@media only screen and (max-width: 903px) {


.card-inner{
	padding-top: 0;
}

#myCarouselcsr{

	width: 100%;
}

.graphic{
	width:95%;
	height:30em;
	margin: 0 auto;
	/*background: #000;*/
	float: none;
	overflow: hidden;
	display: block;
	background: no-repeat center top;
}

.details{
	width:100%;
	height:100%;
	/*background: #000;*/
	float: none;
	margin: 0px;
	padding: 3% 3% 15% 3%;
	overflow: hidden;
	display: block;
	transform: none;
}


.details p{
    margin: 0px;
    padding: 10px;
	color: #fff ;
	text-align: justify;
	font-size: 1em;
}

.carousel-inner h1{
	padding: 3%;
	margin: 0;
	color: #fff;
	text-align: center;
	font-size: 1.2em;
}

.college{
	height: auto;
	/*overflow: auto;*/


}
.certificate-row{

	width: 100%;
	height: auto;
	border: none;

}
.certificate-row h1{

	color: #fff;
	margin: 0;
	padding: 1em;


}


.certificate-col{

	width: 100%;
	height: 6em;

border-top: solid 1px #333;


}

	}
