.navbar{
	margin-bottom: 0;
	background: #333;
	border-radius: 0px;

	border: none;

}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #f46763;
}

.navbar-default .navbar-nav>.active>a:hover{
	background-color: #333;
	border-bottom: solid 1px #fff;
	color: #f46763;
}
.navbar-default .navbar-nav>.active>a{
	color: #f46763;
	/*text-decoration: underline;*/

	border-bottom: solid 1px #fff;
	background: none;
	font-weight: bold;
	height: 100%;
}



#logoimg{
	padding-top:7px;
	height: 45px;
}
.nav{
	width: 85%;
	float: right;
	margin: 0 auto;
	
}

.navbar-nav>li{
	width: 16.6%;	
	padding: 15px 0px;
	

}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}
.navbar-nav>li>a{
	line-height: 3em;
	margin: 0px;
	padding: 0px;
	border-right: solid 1px #acacac; 	

}
.navbar>.container-fluid .navbar-brand{
	margin-left: 2.8em;
    margin-top: 0.48em;
}

.container-fluid{
	margin: 0px;
	padding: 0px;
}

.navbar-collapse{
	margin: 0;
	padding: 0;
}



.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
		margin-right: 0;	
	}
@media only screen and (max-width: 767px) {

	.navbar-nav>li>a{
	
	border-right: none; 	

}

.navbar-nav>li{
	width: 100%;	
	
}


.nav {
	width: 100%;
}

.navbar-default .navbar-nav>.active>a{
	border-bottom: 0;
}

	}
